@import "tailwindcss";
@plugin "daisyui";

.App {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;    /* Vertical centering */
    height: 100vh; /* Required to define the container area */
}

